<h1>All posts</h1>
<ul>
  <% for post in @posts%>
    <p>
      <li>
        <%= h(Plate.find_by_id(post.plate).state)%>
      </li>
      <li>
        <%= h(Plate.find_by_id(post.plate).plateId)%>
      </li>
      <li>
        <%= h(User.find_by_id(post.from).name)%>
      </li>
      <li>
        <%= h(post.message)%>
      </li>
    </p>
  
  <% end%>  
  
</ul>