<h1>All plates</h1>
<table>
<tr>
  <td><strong>State</strong></td>
  <td><strong>Plate id</strong></td>
</tr>
<tr>
  <% for plate in @plates%>
    <tr>
      <td>
        <%= h(plate.state)%>
      </td>
      <td>
        <%= h(plate.plateId)%>
      </td>
    </tr>
  
  <% end%>  
  
</table>