<h1>Posts for user</h1>
<ul>
  <% for post in @posts%>
    <p>
      <li>
        <%= h(Plate.find_by_id(post.plate).plateId)%>
      </li>
      <li>
        <%= h(post.message)%>
      </li>
    </p>
  
  <% end%>  
  
</ul>