<h1>Posts by plate</h1>
<table>
<tr>
  <td><strong>State</strong></td>
  <td><strong>Plate id</strong></td>
  <td><strong>User</strong></td>
  <td><strong>Message</strong></td>
</tr>
  
  <% for post in @posts%>
    <tr>
      <td>
        <%= h(Plate.find_by_id(post.plate).state)%>
      </td>
      <td>
        <%= h(Plate.find_by_id(post.plate).plateId)%>
      </td>
      <td>
        <%= h(User.find_by_id(post.from).name)%>
      </td>
      <td>
        <%= h(post.message)%>
      </td>
    </tr>
  
  <% end%>  
  
</table>